/* heith 100 */
html,body {
    height: 100%;
}
.bloco{
    min-height: 100%;
    padding-top: 94px;
}
.blue-color {
    background-color:#85C8F2 ;
}

.banner h2{
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    text-transform: uppercase;
}
.banner p{
    font-size: 1.2rem;
    line-height: 1.7rem;

}
/* LOGO */
.logo_text{
    font-size: 0;
    margin: 0;
}
.logo_img{
    width: 70px;
    margin-top: 7px;
}
/* menu */
.navbar {
    background-color: transparent;
    transition: background 0.5s linear;
}
.navbar ul a:hover { 
    background-color: transparent;
    color:#85C8F2 ;
}
.nav-color{
    background-color: rgba(247, 247, 247, 0.7);
    transition: background 0.5s linear;
}
/* custom */
.home{
    animation: mudarbg 20s infinite;

    background-image: url('../img/1095.jpg');
    background-repeat: no-repeat;
    background-size:cover ;
}
@keyframes mudarbg {
    40% {
        background-image: url('../img/7957.jpg');}
    80% {
        background-image: url('../img/6845.jpg');
    }
    100% {
        background-image: url('../img/1095.jpg');
    }
}
/* TITULO E PARAGRAFO*/
.titulo {font-size: 2rem; text-transform: uppercase;}
.titulo::after{ content: '';
    display: block;
    width: 100px;
    border-top: 1px solid #85CBF8;
    margin: 15px auto;}
.paragrafo{line-height: 1.8rem;}    
/*sobre*/
.sobre {
    background-image: url('../img/testurazul.png');
}
/*.sobre h2 {
    font-size: 2rem;
    color: #212121;
    text-transform: uppercase;
}
.sobre h2::after{
    content: '';
    display: block;
    width: 100px;
    border-top: 1px solid #85CBF8;
    margin: 15px auto;
} */
.sobre p {
    line-height: 1.8rem;
    text-align: justify;
}
.sobre .missao-visao-valores{
    padding: 20px 0;
    margin-top: 35px;
}
.sobre .missao-visao-valores h3{
    font-size: 1.5rem;
    text-transform: uppercase;
}
.sobre .missao-visao-valores p{
    text-align: center;
}
/*servicos*/
.servicos{
    background-image: url('../img/testurazul.png');

}
/*.servicos h2 {
    font-size: 2rem;
    color: #212121;
    text-transform: uppercase;
}
.servicos h2::after{
    content: '';
    display: block;
    width: 100px;
    border-top: 1px solid #85CBF8;
    margin: 15px auto;
} 
.servicos p {
    line-height: 1.5rem;
}*/
.servicos .btn-horario{
    padding-bottom: 20px;
}
.unidades {
    background-image: url('../img/clinica3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/*.unidades h2 {
    font-size: 2rem;
    color: #fff;
    text-transform: uppercase;
}
.unidades h2::after{
    content: '';
    display: block;
    width: 100px;
    border-top: 1px solid #85CBF8;
    margin: 15px auto;
} 
.unidades p {
    line-height: 1.5rem;
    color: #fff;
}*/
/* nav {*/
   /* color: #fff;
    background-color: #ADDAEF;
    width: 100%;*/
   /* height: 76px;
    line-height: 76px;
  }*/
  .contato {
      background-image: url('../img/testurazul.png');
  }
  .contato h4 {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 900;
  }
  .contato .mapa{
      min-height: 560px;
  }
  .contato .mapa iframe{
      width: 100%;
      min-height: 560px;
      border: none;
  }
  .contato .informacoes {
      background-image: url('../img/testura2.png');
      min-height: 560px;
      padding: 30px;
  }
  .contato .formulario {
      min-height: 560px;
      padding: 30px;
  }
.depoimentos .titulo::after{
    border-color: #fff;
}
.depoimentos img {
    width: 100px;
}
.depoimentos h4 {
    font-size: 1.2rem;
    font-weight: 900;
}
/* rodape*/
.rodape {
    background-image: url('../img/testurazul.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 0;
    
}
/* CONTATO */

  nav.nav-extended .nav-wrapper {
    min-height: 76px;
   /* height: auto;*/
  }
  .navbar-fixed {
    position: absolute;
    height: 94px;
    /*z-index: 997;*/
  }

  nav, nav i,
  nav [class^="mdi-"], nav [class*="mdi-"],
  nav i.material-icons, nav a.button-collapse i  {
   /* display: block;
    font-size: 24px; */
    height: 76px;
    line-height: 76px;
  }
.blue-color{
    background-color:#85C8F2 ;
}
.blue-logo{
    background-color:#85C8F2 ;
}
.sidenav{

    background: url('../img/testurazul.png');
    font-weight: 100;
}

.row {
    margin-bottom: 0;
}
.tabs{
    background-color: #85C8F2;
}
.tabs .tab a{
    color: #fff;
}
.tabs .tab a:hover, .tabs .tab a.active {color: black;}
.tabs .indicator {background-color: black ;}

/* HOME - ANIAMTION */

/* Media*/  
  @media only screen and (max-width: 480px) {
   
  }
  @media only screen and (min-width: 601px) {
      .banner {
          padding-top: 4.5rem;
      }
    .banner h2 {font-size: 4rem;}
    .container {
        width: 85%;
    }
    }
  @media only screen and (min-width: 993px) {
    .banner {
        padding-top: 5rem;
    }
    .banner h2 {font-size: 5rem;}
    .container {width: 90%;}
}

